<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>AirPlay Multiroom</name>
  <service>
    <type>_raop._tcp</type>
    <port>5000</port>
    <txt-record>txtvers=1</txt-record>
    <txt-record>ch=2</txt-record>
    <txt-record>cn=0,1</txt-record>
    <txt-record>et=0,1</txt-record>
    <txt-record>sv=false</txt-record>
    <txt-record>tp=UDP</txt-record>
    <txt-record>sm=false</txt-record>
    <txt-record>ss=16</txt-record>
    <txt-record>sr=44100</txt-record>
    <txt-record>vn=3</txt-record>
    <txt-record>pw=false</txt-record>
  </service>
</service-group>
